pkgbase = afmf-linux
	pkgdesc = AMD Fluid Motion Frames for Linux: Vulkan frame generation layer for any game (Proton, DXVK, native)
	pkgver = 1.2.0
	pkgrel = 1
	url = https://afmf-linux.digitalexperiments.dev/
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = ninja
	makedepends = gcc
	makedepends = vulkan-headers
	makedepends = glslang
	makedepends = spirv-tools
	depends = vulkan-icd-loader
	source = afmf-linux-1.2.0.tar.gz::https://github.com/serialexperimentslainnnn/afmf-linux/archive/v1.2.0.tar.gz
	sha256sums = bfd30d0655b252900a3249f3c1fabe34a969d26210a7517b3eaaa9efa37bd574

pkgname = afmf-linux
