pkgbase = afmf-linux
	pkgdesc = AMD Fluid Motion Frames for Linux: Vulkan frame generation layer for any game (Proton, DXVK, native)
	pkgver = 1.3.1
	pkgrel = 1
	url = https://afmf-linux.digitalexperiments.dev/
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = ninja
	makedepends = gcc
	makedepends = vulkan-headers
	makedepends = glslang
	makedepends = spirv-tools
	depends = vulkan-icd-loader
	source = afmf-linux-1.3.1.tar.gz::https://github.com/serialexperimentslainnnn/afmf-linux/archive/v1.3.1.tar.gz
	sha256sums = b4c2e54f660a4929afadecb6c5eaf1e381a23d3cc77705538e69a07500f143e0

pkgname = afmf-linux
